.ListofParks {
  padding: 10px;
  background-color: yellow;
  overflow: scroll;

  max-height: 10em;
}

.scrollList {
  padding: 10px;
  background-color: powderblue;
}

.deleteX {
  padding: 5 px;
  color: red;
}
