body {
  font-family: Helvetica, Arial, sans-serif;
}

.ListofParks {
  padding: 10px;
  background-color: yellow;
  overflow: scroll;
  height: 350px;
}

.scrollList {
  padding: 10px;
  background-color: powderblue;
}
.each-park-by-state {
  position: absolute;
  top: 0;
  right: 0;
  height: 500px;
  width: 320px;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0,0,0,0.3);
  padding: 12px 24px;
  margin: 20px;
  font-size: 13px;
  line-height: 2;
  color: #6b6b76;
  outline: none;
  /* text-transform: uppercase; */
}
.onhover-popup {
  font-size: 12px;
  font-weight: 700;
}
