@font-face {
  font-family: 'NPSregular';
  src: url('NationalParkTypeFace/NationalPark-Regular.otf');
  /* font-weight: normal;
  font-style: normal; */
}

@font-face {
  font-family: 'NPSbold';
  src: url('NationalParkTypeFace/NationalPark-Heavy.otf');
}

@font-face {
  font-family: 'NPSlight';
  src: url('NationalParkTypeFace/NationalPark-Thin.otf');
}

@font-face {
  font-family: 'NPSoutline';
  src: url('NationalParkTypeFace/NationalPark-Outline.otf');
}

body {
  background-color: rgb(172, 166, 149);
  margin: 10px;
  padding: 10px;
}

h1 {
  font-family: NPSregular;
  color: rgb(35, 104, 152);
  margin: 10px;
}

.modal-body {
  background-color: rgb(247, 233, 210);
}
.modal-header {
  background-color: rgb(248, 230, 200);
  color: rgb(35, 104, 152);
  font-family: NPSregular;
  border-color: rgb(35, 104, 152);
}

.modal-footer {
  background-color: rgb(248, 230, 200);
  border-color: rgb(35, 104, 152);
}
.bucketlist {
  display: flexbox;
  justify-content: center;
  margin: 10px;
  border-color: rgb(35, 104, 152);
  font-family: NPSlight;
}

.btn-secondary {
  color: rgb(10, 81, 131);
  font-family: NPSlight;
  font-size: 16px;
  background-color: #cddbe6;
  border-color: #8b9cad;
  padding: 5px;
  border-radius: 10px;
}
openBLbutton {
  font-family: NPSlight;
  color: rgb(35, 104, 152);
}
openParkByStatebutton {
  font-family: NPSlight;
  color: rgb(35, 104, 152);
}

h3 {
  background-color: rgb(248, 230, 200);
  color: rgb(35, 104, 152);
  font-family: NPSregular;
  border-color: rgb(35, 104, 152);
}

h2 {
  color: rgb(35, 104, 152);
  font-family: NPSlight;
}
bucketlistTitle {
  margin: 10px;
  color: rgb(35, 104, 152);
  font-family: NPSlight;
}
.deleteX {
  border: none;
  outline: 0 !important;
  padding: 5 px;
  color: gray;
  margin: 5px;
  background-color: rgb(247, 233, 210);
}

.parkname {
  margin: 10px;
  justify-content: center;
  color: rgb(35, 104, 152);
  font-family: NPSlight;
}
.ListofParks {
  padding: 10px;
  background-color: rgb(247, 233, 210);
  overflow: scroll;
  overflow-x: hidden;
  height: 350px;
  max-height: 50em;
  font-family: NPSlight;
}

.each-park-by-state {
  position: absolute;
  top: 0;
  right: 0;
  height: 500px;
  width: 350px;
  background-color: rgb(248, 230, 200);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  padding: 12px 24px;
  margin: 20px;
  font-size: 13px;
  line-height: 2;
  font-family: NPSlight;
  color: rgb(35, 104, 152);
  outline: none;
  /* overflow: hidden; */
  /* text-transform: uppercase; */
}

.addToBL {
  margin: 25px;
  color: rgb(10, 81, 131);
  font-family: NPSregular;
  font-size: 10px;
  background-color: #cddbe6;
  border-color: #8b9cad;
  padding: 3px;
  border-radius: 10px;
}

.park-checkbox {
  color: rgb(216, 163, 123);
  padding: 5px;
  margin: 5px;
  border: 1px solid black;
  background-color: rgb(216, 163, 123);
}
.scrollList {
  padding: 10px;
  margin: 10px;
}
.onhover-popup {
  color: rgb(35, 104, 152);
  font-family: NPSbold;
  font-size: 12px;
  font-weight: 700;
}
